<div class="">
  <div class="mb-40"><app-hero /></div>
  <div class="flex flex-col items-center justify-center w-full gap-4 mt-6">
    <h2
      class="mb-2 text-3xl font-extrabold text-gray-900 md:text-5xl leading-[50px]"
    >
      Rencontrez notre équipe
    </h2>
    <div class="flex flex-col items-center">
      <p
        class="max-w-sm mx-auto text-base font-normal leading-7 text-center text-gray-500 mb-9"
      >
        Rencontrez notre équipe de professionnels, prête à vous offrir un
        développement backend solide et une interface frontend intuitive.
      </p>
    </div>
  </div>
  <div class="mb-40"><app-equipedev /></div>
  <div class="mb-36">
    <app-subcriber />
  </div>
  <div class="">
    <app-footer />
  </div>
</div>
