<div class="bg-gradient-to-t from-green-50 to-purple-50 w-full h-screen">
  <!-- Lien vers la page Liste Entreprise -->
    <div class="w-full flex justify-end px-4 pt-3">
      <app-lienvers textlien="Continuer" [navigateTo]="'login'" />
    </div>

    <div class="tab-navigation flex flex-col gap-6 space-x-4 justify-center ">

        <div class="w-full flex flex-col justify-center items-center gap-4 mt-6">
            <h2 class="text-gray-800 text-3xl font-extrabold mb-2">Rencontrez notre équipe
            </h2>
            <div class="flex flex-col items-center">
                <span>Rencontrez notre équipe de professionnels, prête à vous offrir </span>
            <span>un développement 
                backend solide et une interface frontend intuitive.</span>
            </div>
        </div>


        <!-- Boutons pour basculer entre les onglets -->
        <div class="flex justify-center gap-2 ">
            <button
          (click)="selectTab('frontend')"
          [class.active]="activeTab === 'frontend'"
          class="py-2 px-6 font-semibold rounded-lg transition-colors duration-300"
          [ngClass]="{
            'bg-blue-500 text-white': activeTab === 'frontend',
            'bg-gray-200 text-gray-600 hover:bg-gray-300': activeTab !== 'frontend'
          }"
        >
          Equipe Frontend
        </button>
        <button
          (click)="selectTab('backend')"
          [class.active]="activeTab === 'backend'"
          class="py-2 px-6 font-semibold rounded-lg transition-colors duration-300"
          [ngClass]="{
            'bg-blue-500 text-white': activeTab === 'backend',
            'bg-gray-200 text-gray-600 hover:bg-gray-300': activeTab !== 'backend'
          }"
        >
          Equipe Backend
        </button>
        <button
          (click)="selectTab('Devops')"
          [class.active]="activeTab === 'Devops'"
          class="py-2 px-6 font-semibold rounded-lg transition-colors duration-300"
          [ngClass]="{
            'bg-blue-500 text-white': activeTab === 'Devops',
            'bg-gray-200 text-gray-600 hover:bg-gray-300': activeTab !== 'Devops'
          }"
        >
          Devops
        </button>
        </div>
    </div>
      
      
      <!-- Contenu pour l'équipe Frontend -->
      <div *ngIf="activeTab === 'frontend'" class="tab-content">
        <!-- Contenu de l'équipe Frontend -->
        <div class=" px-4 ">
            <div class="lg:max-w-5xl sm:max-w-2xl mx-auto">
                
    
                <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-8 max-sm:gap-12 max-md:justify-center mt-12">
    
                    <app-profil 
    name="Lusa Kessy"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="Fatou Thiam"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="Dosa Soda"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="Ismaila Dieng"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="Ndeye Fatou"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="R Indjai Quade"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="Fael Mila"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

<app-profil 
    name="Fatoumata Ba"  
    position="Front-end développeur"  
    imageUrl="https://readymadeui.com/team-2.webp">
</app-profil>

                </div>
            </div>
        </div>
      </div>
      
      <!-- Contenu pour l'équipe Backend -->
      <div *ngIf="activeTab === 'backend'" class="tab-content">
        <!-- Contenu de l'équipe Backend -->
        <div class="font-[sans-serif] px-4">
            <div class="lg:max-w-5xl sm:max-w-2xl mx-auto">
                
    
                <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-8 max-sm:gap-12 max-md:justify-center mt-16">
                    
                    <app-profil 
                    name="Malonga Eros"  
                    position="Back-end développeur"  
                    imageUrl="https://readymadeui.com/team-2.webp">
                </app-profil>
                
                <app-profil 
                    name="Aicha"  
                    position="Back-end développeur"  
                    imageUrl="https://readymadeui.com/team-2.webp">
                </app-profil>
                
                <app-profil 
                    name="Tidjane Dianifaba"  
                    position="Back-end développeur"  
                    imageUrl="https://readymadeui.com/team-2.webp">
                </app-profil>
                
                <app-profil 
                    name="Aida Diao"  
                    position="Back-end développeur"  
                    imageUrl="https://readymadeui.com/team-2.webp">
                </app-profil>
                
                <app-profil 
                    name="Ngayouma Guillaume"  
                    position="Back-end développeur"  
                    imageUrl="https://readymadeui.com/team-2.webp">
                </app-profil>
                
                <app-profil 
                    name="Chancelin Makosso"  
                    position="Back-end développeur"  
                    imageUrl="https://readymadeui.com/team-2.webp">
                </app-profil>
                
                    
                </div>
            </div>
        </div>
      </div>
      




      <!-- Contenu pour l'équipe DevOps -->
      <div *ngIf="activeTab === 'Devops'" class="tab-content">
        
        <div class="font-[sans-serif] px-4">
            <div class="lg:max-w-5xl sm:max-w-2xl mx-auto">
                
    
                <div class="flex justify-center mt-16">
                    
                    <app-profil 
                    name="Arthur Kombilat"  
                    position="Dev Ops"  
                    imageUrl="../../assets/img/arthur.jpg">
                </app-profil>

                
                    
                </div>
            </div>
        </div>
      </div>

      
        
      
</div>