<!-- <nav
  class="container sticky z-40 flex items-center justify-between py-3 mx-auto shadow-md text-blue-gray-900 top-4 shadow-blue-gray-500/5"
>
  <span>jlkl</span>
  <span>jlkl</span>
  <span>jlkl</span>
  <span>jlkl</span>
  <span>jlkl</span>
</nav> -->

<!-- <div class="flex items-center justify-between w-full p-4 bg-blue-600">
  <h1 class="text-lg font-bold text-white">Mon Application</h1>
  <button class="text-white" (click)="onToggleSidebar()">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>
</div> -->

<!-- navbar.component.html -->
<nav
  class="flex w-full p-4 text-gray-800 border border-b border-gray-200 navbar"
>
  <div class="flex items-center justify-between w-full">
    <div class="lg:flex gap-[14px] hidden">
      <app-button textBtn="+ Entreprise" />
      <app-button textBtn="+ Direction" />
    </div>
    <div>
      <h1 class="text-xl font-bold text-gray-800 uppercase lg:text-4xl">
        By IPG-ISTI
      </h1>
    </div>
    <div class="flex gap-6">
      <app-searchbar />
      <button class="text-gray-800" (click)="toggleSidebar()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
