<div class="">
  <div class="flex">
    <div
      class="hidden lg:block lg:col-span-2 md:h-screen w-[60%] bg-[#1896c7] lg:p-12 p-8"
    ></div>

    <div class="content-center w-full p-6">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="max-w-[420px] mx-auto"
      >
        <div class="mb-8">
          <h3 class="text-3xl font-extrabold text-gray-800">Connectez-vous</h3>
          <p class="mt-4 text-sm text-gray-800">
            Créez votre compte
            <app-lienvers
              [navigateTo]="'register'"
              textlien="Inscrivez-vous ici"
            ></app-lienvers>
          </p>
        </div>

        <div class="flex flex-col">
          <div class="relative flex items-center mb-3 shadow-lg">
            <input
              formControlName="email"
              type="text"
              class="w-full text-sm text-gray-800 focus:bg-transparent px-4 py-3.5 rounded-md outline-blue-600"
              placeholder="Enter email"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#bbb"
              stroke="#bbb"
              class="w-[18px] h-[18px] absolute right-4"
              viewBox="0 0 682.667 682.667"
            >
              <path
                d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z"
              />
              <path
                d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z"
              />
            </svg>
            
          </div>
          <div
              *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
              class="text-xs text-red-500 mb-3"
            >
              L'adresse e-mail est requise.
          </div>
        </div>
          <div
            *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched"
            class="text-xs text-red-500"
          >
            Entrez une adresse e-mail valide.
          </div>

<div class="flex flex-col">
  <div class="relative flex items-center mb-4 shadow-lg">
    <input
      formControlName="password"
      type="password"
      class="w-full text-sm text-gray-800 focus:bg-transparent px-4 py-3.5 rounded-md outline-blue-600"
      placeholder="Enter password"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="#bbb"
      stroke="#bbb"
      class="w-[18px] h-[18px] absolute right-4 cursor-pointer"
      viewBox="0 0 128 128"
    >
      <path
        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
      />
    </svg>
    
  </div>
  <div
      *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
      class="text-xs text-red-500"
    >
      Le mot de passe est requis.
    </div>
    <div
      *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched"
      class="text-xs text-red-500"
    >
      Le mot de passe doit contenir au moins
      {{ loginForm.get('password')?.errors?.['minlength'].requiredLength }}
      caractères.
    </div>
    <div
      *ngIf="loginForm.get('password')?.errors?.['invalidPassword'] && loginForm.get('password')?.touched"
      class="text-xs text-red-500"
    >
      {{ loginForm.get('password')?.errors?.['invalidPassword'] }}
    </div>
</div>

        <div class="flex flex-wrap items-center justify-between gap-4 mt-4">
          <div class="w-full text-right">
            <span
              class="text-sm font-semibold text-blue-600 cursor-pointer hover:underline"
              >Mot de passe oublié?</span
            >
          </div>
        </div>

        <div class="mt-8">
          <app-button
            type="submit"
            [disabled]="loginForm.invalid"
            [buttonColor]="loginForm.invalid ? '#cccccc' : '#007bff'"
            textBtn="Connexion"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
