<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>

<div class="w-full h-full">
  <div>
    <app-bouton-retour routeUrl="accueil/dashboard" titre="Retour" />
  </div>
  <div class="flex flex-col items-center justify-center mt-16">
    <div
      class="container mt-"
      class="w-full max-w-md p-6 bg-white rounded-lg shadow-md"
    >
      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        {{ isEditing ? "Modifier Direction" : "Créer Direction" }}
      </h2>

      <form
        [formGroup]="directionForm"
        (ngSubmit)="submitForm()"
        class="flex flex-col"
      >
        <input
          formControlName="nomDirection"
          placeholder="Nom de la direction"
          type="text"
          class="p-2 mb-4 text-gray-900 transition duration-150 ease-in-out bg-gray-100 border-0 rounded-md focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500"
        />

        <textarea
          formControlName="description"
          placeholder="Description de la direction"
          class="p-2 mb-4 text-gray-900 transition duration-150 ease-in-out bg-gray-100 border-0 rounded-md focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500"
        ></textarea>

        <select
          formControlName="entrepriseId"
          class="p-2 mb-4 text-gray-900 transition duration-150 ease-in-out bg-gray-100 border-0 rounded-md focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500"
        >
          <option value="">Sélectionner l'Entreprise</option>
          <option
            *ngFor="let entreprise of entreprises"
            [value]="entreprise.idEntreprise"
          >
            {{ entreprise.nomEntreprise }}
          </option>
        </select>

        <button
          type="submit"
          class="px-4 py-2 mt-4 font-bold text-white transition duration-150 ease-in-out bg-indigo-600 rounded-md hover:bg-indigo-800"
        >
          {{ isEditing ? "Modifier" : "Créer" }}
        </button>
      </form>
    </div>
  </div>
</div>
