<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container bootdey flex-grow-1 container-p-y">
           <h3>Detail de l'entreprise</h3><br>
            <div class="card mb-4">
              <div class="card-body">
                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>ID: <b>{{entreprise.idEntreprise}}</b></td>
                    </tr>
                    <tr>
                      <td>Nom entreprise: <b>{{entreprise.nomEntreprise}}</b></td>
                    </tr>
                    
                    <tr>
                      <td>Address:  <b>{{entreprise.adresseEntreprise}}</b></td>
                    </tr>
                    <tr>
                      <td>Email:  <b>{{entreprise.emailEntreprise}}</b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
            

          </div>