<div class="p-4 mt-4 bg-gray-100 card dark:bg-gray-700">
  <h4 class="mb-4 text-xl font-semibold text-gray-800 dark:text-gray-200">
    Liste des Directions
  </h4>
  <p *ngIf="message" class="mb-4 text-gray-600 dark:text-gray-300">
    {{ message }}
  </p>

  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead>
      <tr class="text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-300">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Nom Direction</th>
        <th class="px-4 py-2">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let direction of directions"
        class="border-b dark:border-gray-700"
      >
        <td class="px-4 py-2">{{ direction.idDirection }}</td>
        <td class="px-4 py-2">{{ direction.nomDirection }}</td>
        <td class="px-4 py-2">{{ direction.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
