<div
  class="flex bg-[url('https://pagedone.io/asset/uploads/1691055810.png')] bg-center bg-cover"
>
  <div
    class="p-8 hidden content-center rounded-r-[80px] lg:block lg:col-span-2 md:h-screen w-[60%] bg-indigo-600"
  >
    <div class="bg-white py-6 lg:py-8 px-3 rounded-r-[30px]">
      <p
        class="mb-6 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
      >
        Hey, bienvenue parmi nous !
      </p>
      <p
        class="max-w-2xl mx-auto mb-8 font-light text-gray-800 md:mb-12 sm:text-xl"
      >
        Inscrivez-vous et commencez à gérer votre entreprise facilement.
      </p>
    </div>
  </div>

  <div class="content-center w-full p-6">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="max-w-[420px] mx-auto"
    >
      <div class="mb-8">
        <h3 class="text-3xl font-extrabold text-gray-800">Inscription</h3>
        <p class="mt-4 text-sm text-gray-800">
          Vous avez déjà un compte?
          <app-lienvers
            [navigateTo]="'login'"
            textlien="Connectez-vous ici"
          ></app-lienvers>
        </p>
      </div>

      <!-- Champ Nom -->
      <div class="flex flex-col">
        <div class="relative flex items-center mb-4 rounded-full shadow-lg">
          <input
            formControlName="nom"
            type="text"
            class="rounded-full bg-indigo-50 outline-indigo-600 w-full text-sm text-gray-800 focus:bg-transparent px-4 py-3.5"
            placeholder="Entrez votre nom"
          />
        </div>
        <div
          *ngIf="registerForm.get('nom')?.errors?.['required'] && registerForm.get('nom')?.touched"
          class="mb-2 text-xs text-red-500"
        >
          Le nom est requis.
        </div>
      </div>

      <!-- Champ Email -->
      <div class="flex flex-col">
        <div class="relative flex items-center mb-4 rounded-full shadow-lg">
          <input
            formControlName="email"
            type="email"
            class="rounded-full w-full text-sm text-gray-800 focus:bg-transparent px-4 py-3.5 bg-indigo-50 outline-indigo-600"
            placeholder="Entrez votre email"
          />
        </div>
        <div
          *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
          class="mb-2 text-xs text-red-500"
        >
          L'adresse email est requise.
        </div>
        <div
          *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched"
          class="mb-2 text-xs text-red-500"
        >
          Entrez une adresse email valide.
        </div>
      </div>

      <!-- Champ Mot de passe -->
      <div class="flex flex-col">
        <div class="flex flex-col items-center mb-3 rounded-full shadow-lg">
          <input
            formControlName="password"
            type="password"
            class="w-full text-sm text-gray-800 focus:bg-transparent px-4 py-3.5 rounded-full bg-indigo-50 outline-indigo-600"
            placeholder="Entrez un mot de passe"
          />
        </div>
        <div
          *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched"
          class="text-xs text-red-500"
        >
          Le mot de passe est requis.
        </div>
        <div
          *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched"
          class="text-xs text-red-500"
        >
          Le mot de passe doit contenir au moins
          {{ registerForm.get('password')?.errors?.['minlength'].requiredLength }}
          caractères.
        </div>
        <div
          *ngIf="registerForm.get('password')?.errors?.['invalidPassword'] && registerForm.get('password')?.touched"
          class="text-xs text-red-500"
        >
          {{ registerForm.get('password')?.errors?.['invalidPassword'] }}
        </div>
      </div>

      <!-- Bouton de soumission -->
      <div class="mt-8">
        <app-button
          type="submit"
          [disabled]="registerForm.invalid"
          [buttonColor]="registerForm.invalid ? '#cccccc' : '#007bff'"
          textBtn="Inscription"
        ></app-button>
      </div>
    </form>
  </div>
</div>
