<div class="flex flex-col justify-center gap-6 space-x-4 tab-navigation">
  <!-- Boutons pour basculer entre les onglets -->
  <div class="flex justify-center gap-2">
    <button
      (click)="selectTab('frontend')"
      [class.active]="activerTab === 'frontend'"
      class="flex items-center justify-center w-full py-3 text-base font-semibold text-center text-white transition-all duration-500 rounded-full shadow-xs md:w-auto mb-14 px-7 hover:bg-indigo-700"
      [ngClass]="{
        'bg-indigo-600 text-white': activerTab === 'frontend',
        'bg-gray-200 text-indigo-600 hover:bg-gray-300':
          activerTab !== 'frontend'
      }"
    >
      Equipe Frontend
    </button>
    <button
      (click)="selectTab('backend')"
      [class.active]="activerTab === 'backend'"
      class="flex items-center justify-center w-full py-3 text-base font-semibold text-center text-white transition-all duration-500 rounded-full shadow-xs md:w-auto mb-14 px-7 hover:bg-indigo-700"
      [ngClass]="{
        'bg-indigo-600 text-white': activerTab === 'backend',
        'bg-gray-200 text-indigo-600 hover:bg-gray-300':
          activerTab !== 'backend'
      }"
    >
      Equipe Backend
    </button>
    <button
      (click)="selectTab('Devops')"
      [class.active]="activerTab === 'Devops'"
      class="flex items-center justify-center w-full py-3 text-base font-semibold text-center text-white transition-all duration-500 rounded-full shadow-xs md:w-auto mb-14 px-7 hover:bg-indigo-700"
      [ngClass]="{
        'bg-indigo-600 text-white': activerTab === 'devops',
        'bg-gray-200 text-indigo-600 hover:bg-gray-300': activerTab !== 'devops'
      }"
    >
      Devops
    </button>
  </div>
</div>

<!-- Contenu pour l'équipe Frontend -->
<div *ngIf="activerTab === 'frontend'" class="tab-content">
  <!-- Contenu de l'équipe Frontend -->
  <div class="px-4 py-4 m-6 lg:py-4 lg:px-4 rounded-3xl bg-slate-200">
    <div class="mx-auto lg:max-w-5xl sm:max-w-2xl">
      <div
        class="grid gap-8 mt-10 lg:grid-cols-3 sm:grid-cols-2 max-sm:gap-12 max-md:justify-center"
      >
        <app-profil
          name="Lusa Kessy"
          position="Front-end développeur"
          imageUrl="assets/kessy.jpg"
        >
        </app-profil>

        <app-profil
          name="Fatou Thiam"
          position="Front-end développeur"
          imageUrl="assets/fatou.jpg"
        >
        </app-profil>

        <app-profil
          name="Dosa Soda"
          position="Front-end développeur"
          imageUrl="https://readymadeui.com/team-2.webp"
        >
        </app-profil>

        <app-profil
          name="Ismaila Dieng"
          position="Front-end développeur"
          imageUrl="assets/ismaila.jpg"
        >
        </app-profil>

        <app-profil
          name="Ndeye Fatou"
          position="Front-end développeur"
          imageUrl="https://readymadeui.com/team-2.webp"
        >
        </app-profil>

        <app-profil
          name="R Indjai Quade"
          position="Front-end développeur"
          imageUrl="assets/Sidia.jpg"
        >
        </app-profil>

        <app-profil
          name="Fael Mila"
          position="Front-end développeur"
          imageUrl="assets/mila.jpg"
        >
        </app-profil>

        <app-profil
          name="Fatoumata Ba"
          position="Front-end développeur"
          imageUrl="assets/fatoumata.jpg"
        >
        </app-profil>
      </div>
    </div>
  </div>
</div>

<!-- Contenu pour l'équipe Backend -->
<div *ngIf="activerTab === 'backend'" class="tab-content">
  <!-- Contenu de l'équipe Backend -->
  <div class="px-4 py-4 m-6 lg:py-4 lg:px-4 rounded-3xl bg-slate-200">
    <div class="mx-auto lg:max-w-5xl sm:max-w-2xl">
      <div
        class="grid gap-8 mt-10 lg:grid-cols-3 sm:grid-cols-2 max-sm:gap-12 max-md:justify-center"
      >
        <app-profil
          name="Malonga Eros"
          position="Back-end développeur"
          imageUrl="https://readymadeui.com/team-2.webp"
        >
        </app-profil>

        <app-profil
          name="Aicha"
          position="Back-end développeur"
          imageUrl="assets/aïssatou.jpg"
        >
        </app-profil>

        <app-profil
          name="Tidjane Dianifaba"
          position="Back-end développeur"
          imageUrl="assets/Tidjane.jpg"
        >
        </app-profil>

        <app-profil
          name="Aida Diao"
          position="Back-end développeur"
          imageUrl="https://readymadeui.com/team-2.webp"
        >
        </app-profil>

        <app-profil
          name="Ngayouma Guillaume"
          position="Back-end développeur"
          imageUrl="https://readymadeui.com/team-2.webp"
        >
        </app-profil>

        <app-profil
          name="Chancelin Makosso"
          position="Back-end développeur"
          imageUrl="assets/Unknow.jpg"
        >
        </app-profil>
      </div>
    </div>
  </div>
</div>

<!-- Contenu pour l'équipe DevOps -->
<div *ngIf="activerTab === 'Devops'" class="tab-content">
  <div class="px-4 py-4 m-6 lg:py-4 lg:px-4 rounded-3xl bg-slate-200">
    <div class="mx-auto mt-10 lg:max-w-5xl sm:max-w-2xl">
      <div class="flex justify-center mt-16">
        <app-profil
          name="Arthur Kombilat"
          position="Dev Ops"
          imageUrl="assets/arthur2.jpg"
        >
        </app-profil>
      </div>
    </div>
  </div>
</div>
